<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    {% seo %}
    
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>
  <body>
    <nav class="navbar navbar-dark" style="background-color: #157878">
      <div class="container">
        <a class="navbar-brand" href="/">
          Treasure in Hiding
        </a>
      </div>
    </nav>
    
    <p>
      <nav class="sticky-top" aria-label="Navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled"><span class="page-link">Chapters</span></li>
          <li class="page-item"><a class="page-link" href="/ch-1">1</a></li>
          <li class="page-item"><a class="page-link" href="/ch-2">2</a></li>
          <li class="page-item"><a class="page-link" href="/ch-3">3</a></li>
          <li class="page-item"><a class="page-link" href="/ch-4">4</a></li>
          <li class="page-item"><a class="page-link" href="/ch-5">5</a></li>
          <li class="page-item"><a class="page-link" href="/ch-6">6</a></li>
          <li class="page-item"><a class="page-link" href="/ch-7">7</a></li>
          <li class="page-item"><a class="page-link" href="/ch-8">8</a></li>
          <li class="page-item"><a class="page-link" href="/ch-9">9</a></li>
          <li class="page-item"><a class="page-link" href="/full.html">Downloadable Full Book</a></li> 
        </ul>
      </nav>
    </p>
    
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
