<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    {% seo %}
    
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>
  <body>
    <nav class="navbar navbar-dark" style="background-color: #157878">
      <div class="container">
        <a class="navbar-brand" href="/">
          Treasure in Hiding
        </a>
      </div>
    </nav>
    
    <div class="sticky-top text-center">
      <p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="#chapters" class="btn btn-info" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="chapters">Chapters</a>
          <a href="/full.html" class="btn btn-info">Full Downloadable Book</a>
        </div>
      </p>
      <div class="collapse" id="chapters">
        <a href="/ch-1" class="btn btn-outline-info">1</a>
        <a href="/ch-2" class="btn btn-outline-info">2</a>
        <a href="/ch-3" class="btn btn-outline-info">3</a>
        <a href="/ch-4" class="btn btn-outline-info">4</a>
        <a href="/ch-5" class="btn btn-outline-info">5</a>
        <a href="/ch-6" class="btn btn-outline-info">6</a>
        <a href="/ch-7" class="btn btn-outline-info">7</a>
        <a href="/ch-8" class="btn btn-outline-info">8</a>
        <a href="/ch-9" class="btn btn-outline-info">9</a>
      </div>
    </div>
    
    <div class="container">
      {{ content }}
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
